<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332391117935-c7uet4u64tollqdf06rifhgal7ebb29p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332391117935-c7uet4u64tollqdf06rifhgal7ebb29p</string>
	<key>API_KEY</key>
	<string>AIzaSyBKRijxyrHYVaE2P-9-wgfhMJCbedvtKEA</string>
	<key>GCM_SENDER_ID</key>
	<string>332391117935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betabook.app</string>
	<key>PROJECT_ID</key>
	<string>betabook-58b08</string>
	<key>STORAGE_BUCKET</key>
	<string>betabook-58b08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332391117935:ios:60eb63d9550fbf4174899a</string>
</dict>
</plist>